
body{
    background-color: gray;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    display: flex;
    justify-content: center;
    
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.label{
    margin-top: 10%;
}
.liens{
    margin-bottom: 19px;
    margin-right: 34px;
}
.nom{
    margin-bottom: 19px;
    margin-left:-68px;
}
.catnom{
    margin-bottom: 19px;
    margin-left: -109px;
}
.catdesc{
    margin-bottom: 19px;
    margin-left: -153px;
}
#search{
    height: 0%;
    width: 179px;
    margin-left: 9px;
    background-color: rgb(0, 0, 0); 
    color: white;
    font-size: 12px; 
    padding: 4px; 
    border-radius: 6px; 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button{
    height: 0%;
    margin-left: -25%;
    margin-top:80px;
    color: white;
    font-size: 12px; 
    padding: 4px; 
    border-radius: 6px; 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#book{
    
    width: 179px;
    margin-left: 9px;
    background-color: rgb(0, 0, 0); 
    color: white;
    font-size: 12px; 
    padding: 4px; 
    border-radius: 6px; 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#supp{
    
    width: 179px;
    margin-left: 9px;
    background-color: rgb(0, 0, 0); 
    color: white;
    font-size: 12px; 
    padding: 4px; 
    border-radius: 6px; 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#modif{
   
    width: 179px;
    margin-left: 9px;
    background-color: rgb(0, 0, 0); 
    color: white;
    font-size: 12px; 
    padding: 4px; 
    border-radius: 6px; 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    padding-left: 7%;
    margin-top:15px;
}