body{
    background-color: gray;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    display: flex;
    justify-content: center;
    margin-bottom:10% ;
    margin-right: 1%;
    margin-left:1%
}
.del{
    display: flex;
    margin-bottom:16px;
    font-size: 15px;
}
#liens{
    margin-left:16% ;
}
#lienstext{
    margin-left:1%
}

#nom {
    margin-left:10% ;
}
#nomtext{
    margin-left: 1%;
}
#id{
    margin-left: 10%;
}
#idtext{
    margin-left: 1%;
}
#del{
    height: 0%;
    width: 170px;
    margin-left: 110px;
    background-color: rgb(0, 0, 0); 
    color: white;
    font-size: 9px; 
    padding: 4px; 
    border-radius: 6px; 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: -161px;
    margin-left: -3%;
    margin-bottom:7%;
}
#book{
    
    width: 179px;
    margin-left: 9px;
    background-color: rgb(0, 0, 0); 
    color: white;
    font-size: 12px; 
    padding: 4px; 
    border-radius: 6px; 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#ajt{
    
    width: 179px;
    margin-left: 9px;
    background-color: rgb(0, 0, 0); 
    color: white;
    font-size: 12px; 
    padding: 4px; 
    border-radius: 6px; 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#modif{
   
    width: 179px;
    margin-left: 9px;
    background-color: rgb(0, 0, 0); 
    color: white;
    font-size: 12px; 
    padding: 4px; 
    border-radius: 6px; 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}