body{
    background-color: gray;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 11%;
}
header{
    display: flex;
    justify-content: center;
    margin-top: -194px;
}
.table{
    display:table;
    width:0px;
    padding:169px;
}
.button{
    height: 0%;
    margin-left: -377px;
    margin-top:80px;
    color: white;
    font-size: 12px; 
    padding: 4px; 
    border-radius: 6px; 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#modif{
    
    width: 179px;
    margin-left: 9px;
    background-color: rgb(0, 0, 0); 
    color: white;
    font-size: 12px; 
    padding: 4px; 
    border-radius: 6px; 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#supp{
    
    width: 179px;
    margin-left: 9px;
    background-color: rgb(0, 0, 0); 
    color: white;
    font-size: 12px; 
    padding: 4px; 
    border-radius: 6px; 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#ajt{
   
    width: 179px;
    margin-left: 9px;
    background-color: rgb(0, 0, 0); 
    color: white;
    font-size: 12px; 
    padding: 4px; 
    border-radius: 6px; 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    padding-left: 8%;
    margin-top:11px;
}