body{
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 11%;
}
header{
    margin-top: -11%;
    margin-bottom: 5%;
}
.h1{
    display: flex;
    justify-content: center;
}
.form{
    background-color: gray;
    display: flex;
    margin-top: 2%;
}
#liens{
    display: flex;
}
.form2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
}
.form3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
}
.form4{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
}
#idcat{
    display: flex;
    height: 0%;
    outline: 2px outset rgba(7,8,17,0.98);
    margin-top: 4%;
    margin-left: 10%;
}
#modif{
    height: 0%;
    width: 100%;
    margin-top: -3%;
    margin-left: 20%;
    background-color: rgb(0, 0, 0); 
    color: white;
    font-size: 12px; 
    padding: 4px; 
    border-radius: 6px; 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 

}
.select{
    width: 10%;
    height: 0%;
    display: flex;
    margin-top:26px;
}
.button{
    margin-left: -5%;
    color: white;
    font-size: 12px; 
    padding: 4px; 
    border-radius: 6px; 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#book{
    height: 0%;
    width: 179px;
    margin-left: 9px;
    background-color: rgb(0, 0, 0); 
    color: white;
    font-size: 12px; 
    padding: 4px; 
    border-radius: 6px; 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#supp{
    height: 0%;
    width: 179px;
    margin-left: 9px;
    background-color: rgb(0, 0, 0); 
    color: white;
    font-size: 12px; 
    padding: 4px; 
    border-radius: 6px; 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#ajt{
    height: 0%;
    width: 179px;
    margin-left: 9px;
    background-color: rgb(0, 0, 0); 
    color: white;
    font-size: 12px; 
    padding: 4px; 
    border-radius: 6px; 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}